@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #999;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#main_div input[type="text"],
#main_div button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#main_div {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#page_heading {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#page_sub_title {
    font-size: 15px;
    font-weight: 300;
}

#main_div h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#main_div input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#main_div input[type="text"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#main_div button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#main_div button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#main_div button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#main_div input:focus {
    outline: 0;
    border: 1px solid #aaa;
}

#results {
    margin-top: 30px;
    color: black;
    font-size: 15px;
    display: none;
}

#advanced {
    margin-top: 30px;
    color: black;
    font-size: 15px;
    display: none;
}

.resultheading {
    padding-top: 18px;
    padding-bottom: 0;
}

.resultdata {
    margin-top: -6px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}


::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

#results_table {
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    font-weight: normal;
}

.heading001 {
    font-weight: normal;
}

#results_table td, #results_table th {
    border: 1px solid black;
    padding: 8px;
}

#results_table tr:nth-child(even) {
    /*background-color: #f2f2f2;*/
}

#results_table tr:hover {
    /*background-color: #ddd;*/
}

#results_table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

#toggle_advanced_btn {
    cursor: pointer;
    width: 30%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 30px 0px 0px 0px;
    padding: 7px;
    font-size: 12px;
}

.main_warningtext {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}

.input_label {
    color: black;
}

#networkswitchlink {
    font-weight: normal;
}

.input_label_right {
    color: black;
    float: right;
    text-decoration: underline;
    cursor: pointer;
}

.left_float {
    float: left;
}

.button {
    color: black;
    background: white;
    border: 2px solid #06D85F;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 30px 0 0 0;
    padding: 7px;
    font-size: 10px;
}

/*QR Code stuff start*/
.qrcodebutton {
    float: right;
}

.qrcodebutton .button {
    border: 2px solid black;
}

.popup p {
    width: 210px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 14px;
    padding: 0 0 10px 10px;
}

.qr_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.popup {
    margin: 70px auto;
    padding: 15px 0px 10px 10px;
    background: #fff;
    border-radius: 5px;
    width: 260px;
    position: relative;
    /*transition: all 1s ease-in-out;*/
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 25px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
}
/*QR Code stuff end*/
